Thumbs.db
*.DS_Store
intelliJ project/
*.iml
.idea
.gradle
build/
obj/
jni/jni/java_interface_wrap.cpp
libs/armeabi/*
libs/armeabi-v7a/*
libs/x86/*
libs/mips/*
libs/nineoldandroids/*
src/main/java/nl/igorski/lib/audio/nativeaudio/*
